body{
    background: #E5E5E5;
}

.border-lilac{
   background: #D1BBFF;
   /* border */
   border-radius: 12px;
   border: 4px solid #bbb2ce;
   box-shadow: 4px 4px 0px #bbb2ce;
   border-radius: 12px;
}

.list{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: #D6E5FA;
/* border */
border: 4px solid #b0c0c3;
box-shadow: 4px 4px 0px #b0c0c3;
border-radius: 12px;
}

.list-item{
   /* border */
   border-radius: 12px;
   border: 4px solid #b0c0c3;
   box-shadow: 4px 4px 0px #b0c0c3;
   border-radius: 12px;
}


i{
   color: #b0c0c3;
}

li{
   list-style: none;
}


.btn-icon{
   background-color: #D6E5FA;
   border: 0px;
   font-size: 25px;
}